body,html {
	margin: 0px;
	padding: 0px;
}

#main {
	position: relative;
	max-width: 500px;
	background-image: url('/upload/img/upload.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.content {
    position: absolute;
    bottom: 6%;
    left: 10%;
    width: 80%;
    height: 60%;
    font-size: 12px;
}
.content > div {
	margin-top: 2%;
	font-weight: bold;
}

.name-info, .post-info {
	position: relative;
	height: 7%;
	width: 50%;
}
#name, #post {
	width: 100%;
	height: 100%;
}

.place {
	font-weight: normal!important;
	font-size: 14px;
	margin-bottom: 4%;
}
.place > input {
	width: 20px;
	height: 20px;
}

.post-info {
	margin-bottom: 4%;
}

.contact {
	width: 50%;
	height: 7%;
}
#contact {
	width: 100%;
	height: 100%;
}

#msg {
	width: 80%;
	height: 15%;
}

.audio {
	height: 7%;
}
.audio > div {
	float: left;
}
.audio-img {
	position: relative;
	top: 5%;
	left: 5px;
	width: 8%;
	height: 80%;
	background-image: url('/upload/img/audio.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.submit {
	position: absolute;
	width: 30%;
	left: 35%;
	bottom: 0px;
	height: 10%;
	background-image: url('/upload/img/submit.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#audio-name {
	position: relative;
	left: 10px;
	top: 10%;
	font-size: 14px;
	font-weight: normal;
	color: red;
	text-decoration: underline;
}

.audio-tip {
	width: 100%;
	font-size: 12px;
	color: #222;
}