<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" title="分享" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
	<link href="/upload/upload.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="main">
		<div class="content">
			<div class="name">姓名</div>
			<div class="name-info"><input id="name" type="text"></div>
			<div class="place">
				<input type="radio" value="观湖" name="select" checked>观湖
				<input type="radio" value="南泥湾" name="select" style="margin-left: 15%;">南泥湾
			</div>
			<div class="post">岗位</div>
			<div class="post-info">
				<select id="post"></select>
			</div>
			<div class="msg">100字心得</div>
			<div class="msg-info"><textarea id="msg"></textarea> </div>
			<div class="audio">
				<div class="audio-info">选择语音录入:</div>
				<div class="audio-img" value="false" onclick="makeAudio(this)"></div>
				<div id="audio-name" onclick="playAudio()"><audio id="audio" autoplay="autoplay"></audio></div>
				<br />
				<div class="audio-tip">点击按钮开始录音</div>
			</div>
			<div class="submit" onclick="submit()"></div>
		</div>
	</div>
</body>

<script src="/common/jquery.min.js"></script>
<script src="/upload/upload.js"></script>
<script src="/upload/api.js"></script>
</html>