body,html {
	margin: 0px;
	padding: 0px;
}

#main {
	position: relative;
	max-width: 500px;
	background-image: url('/study/img/study.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

::-webkit-scrollbar{
	width: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(40, 40, 40, 0.3);
}

#big, #red {
	position: relative;
	top: 13%;
	left: 10%;
	width: 80%;
	height: 55%;
	color: white;
	font-weight: bold;
	overflow: auto;
}
#big > div, #red > div {
	margin-top: 5%;
}

.info {
	position: relative;
	display: inline-block;
	margin-top: 1%;
	width: 4px;
	height: 16px;
	background-image: url('/study/img/info.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: top;
}

.content, .sub {
	display: inline-block;
	width: 90%;
}
.sub {
	position: relative;
	left: 10px;
	font-size: 12px;
	margin-top: 2%;
}
.sub:first-child {
	margin-top: 3%;
}

.title {
	width: 100%;
	height: 2px;
	margin-top: 2%;
	background-image: url('/study/img/title.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#big .content:before {
    width: 14px;
    height: 14px;
    content: '';
    display: inline-block;
    background-image: url('/study/img/link.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#big .content {
	text-decoration: underline;
}

#red .sub:before {
    width: 10px;
    height: 10px;
    content: '';
    display: inline-block;
    background-image: url('/study/img/link.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#red .sub {
	text-decoration: underline;
}
